#minWidth{
  min-width: 250px !important;
}
  
  .show {
    margin-bottom: 35%;
    background-color: transparent;
    width: 100% !important;
    transition: all 500ms;
  }
  a:hover,
  a:focus {
    background-color: black !important;
    padding: 0 auto;
  }
  