<div class="text-center col-1 mx-auto">
  <app-loader *ngIf="!productsList"></app-loader>
</div>
<div class="col-10 mx-auto bg-white p-3 mt-0 rounded" *ngIf="productsList">
  <table class="table">
    <thead>
      <tr>
        <th class="col-5">Title</th>
        <th>Price</th>
        <th>Category</th>
        <th>QTY</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsList; index as i">
        <td>{{ product.title | uppercase }}</td>
        <td>${{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <button class="btn btn-sm" (click)="editProduct(product.id)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-sm" (click)="deleteProduct(product.id, i)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
