::ng-deep {
    .ngx-pagination {

        li,
        a {
            border-radius: 5px !important;
        }

        .current {
            background-color: #0d6efd !important;
            font-weight: bold;
        }
    }
}
.colTitle{
    min-width: 200px !important;
    max-width: 200px !important;
}