<nav class="navbar fixed-top bg-black z-1 py-3">
	<div class="w-100 px-4">
		<a class="navbar-brand" routerLink="/">
			<img src="\assets\logo.svg" alt="Anywhere-logo" />
			<span class="h5 fw-bold text-white"> Anywhere App </span>
		</a>
		<ul class="nav navbar-nav float-end d-flex flex-row">
			<div class="dropdown dropstart">
				<button class="btn p-0 m-0" type="button" aria-expanded="false" *ngIf="isAuth">
					<img src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/300-3.jpg" alt=""
						width="40px" class="rounded" />
				</button>
				<li class="nav-item " *ngIf="!isAuth">
					<button class=" btn btn-outline-light " routerLink="/login">Login</button>
				</li>
				<ul class="dropdown-menu position-absolute bg-transparent py-3 border-0" *ngIf="isAuth">
					<div class="bg-white border rounded py-3 my-1 small">
						<li class="dropdown-item px-3 border-bottom pb-3">
							<img width="50px" class="rounded"
								src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/300-3.jpg"
								alt="" />
							<a class="fw-bold text-decoration-none text-black mx-2"> {{userMail | uppercase}}</a>
						</li>

						<li>
							<button class="dropdown-item" (click)="logout()">Logout</button>
						</li>

					</div>
				</ul>

			</div>
		</ul>
	</div>
</nav>