<nav class="navbar fixed-top bg-black z-1 py-3">
  <div class="col-12 px-4">
    <a class="navbar-brand" routerLink="/">
      <img src="\assets\logo.svg" alt="Anywhere-logo" />
      <span class="h5 fw-bold text-white"> Anywhere App </span>
    </a>
    <ul class="nav navbar-nav float-end d-flex flex-row">
      <div class="dropdown dropstart">
        <button
          class="btn p-0 m-0"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/300-3.jpg"
            alt=""
            width="40px"
            class="rounded"
          />
        </button>

        <ul
          class="dropdown-menu position-absolute bg-transparent py-3 border-0"
        >
          <div class="bg-white border rounded py-3 my-1 small">
            <li class="dropdown-item px-3" *ngIf="isAuth">
              <img
                width="50px"
                class="rounded"
                src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/300-3.jpg"
                alt=""
              />
              <a class="fw-bold text-decoration-none text-black mx-2"> UserName</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item px-3">
              <a class="" *ngIf="isAuth"> User </a>
            </li>
            <li>
              <button class="dropdown-item" *ngIf="isAuth" (click)="logout()">
                Logout
              </button>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" *ngIf="!isAuth" routerLink="/login">
                Login
              </a>
            </li>
          </div>
        </ul>
      </div>
    </ul>
  </div>
</nav>
