<div class="row" *ngIf="isLoading">
    <div class="col-2 mx-auto">
        <app-loader></app-loader>
    </div>
</div>
<div class=" bg-white shadow rounded p-3" *ngIf="!isLoading">

    <div class="p-4 d-flex justify-content-end align-items-center border-bottom">
        <button type="button" class="btn btn-primary btn-sm py-2 px-4" data-bs-toggle="modal" data-bs-target="#addCategory">
            Add a Category
        </button>
    </div>
    <div class="table-responsive p-4 w-100">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Category Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; index as i">
                    <td scope="row">{{ i + 1 }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <button class="btn text-danger btn-sm" (click)="deleteCategory(category._id, i, deleteModal)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="addCategory">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="categoryForm" class="bg-white" (ngSubmit)="formHandler()">
                <div class="modal-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <label for="category" class="form-label">Category</label>
                                <input type="text" formControlName="category" class="form-control" id="category" />
                                <span class="small text-danger" *ngIf="!categoryForm.get('category').valid && categoryForm.get('category').touched ">
                                    <span class="small text-danger" *ngIf="categoryForm.get('category').errors['required']">
                                        Category is required
                                    </span>
                                    <span class="small text-danger" *ngIf="categoryForm.get('category').errors['minlength']">
                                        Category should be of minimum 3 chars.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal" type="submit" [disabled]="!categoryForm.valid">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Category?</h4>
        <button type="button" tabindex="-1" class="close pull-right btn-close" aria-label="Close" (click)="modal.dismiss()">
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this category?
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-success" (click)="modal.dismiss()">Cancel</button>
        <button class="btn btn-outline-danger" (click)="modal.close()">Delete</button>
    </div>

</ng-template>