<div class="cropper-wrapper">
    <label for="image" class="form-label">Image<span class="text-danger small">*</span></label>
    <input type="file" (change)="onImageUpload($event)" class="form-control my-2" accept="image/png,image/jpeg,image/webp" />

    <!-- LOAD ERROR -->
    <div class="alert alert-warning" *ngIf="loadError">
        {{ loadImageErrorText }}
    </div>

    <!-- CROPPER -->
    <div class="cropper" *ngIf="targetImg">
        <img #image alt="image" [src]="targetImg" (load)="imageLoadedEvent($event)" (error)="imageLoadError($event)" />
    </div>
    <button (click)="exportCanvas()" type="button" class="btn btn-outline-primary btn-sm my-2" *ngIf="targetImg">
        Crop
    </button>
    <!-- <span class="small text-danger" *ngIf="targetImg && !croppedImage">
        
        Please crop the image before uploading.</span> -->
    <div class="row gap-2" *ngIf="croppedImage.length">
        <div class="col-3 bg-black" *ngFor="let image of croppedImage">
            <img [src]="image" alt="croppedImage"  class="img-fluid" />
        </div>
    </div>
</div>