<!-- <div id="sidebar"> -->
<div class="py-3 h-100 text-white px-4 ms-0 sidebar " id="minWidth">
    <div class="position-fixed">
        <div class="mt-0 mb-3 mx-2 d-lg-none d-block">
            <a class="navbar-brand fw-bold" routerLink="/">
                <img src="\assets\logo.svg" alt="Anywhere-logo" />
                <span class="h4 fw-bold"> Anywhere App </span>
            </a>
        </div>
        <div class="my-2">
            <div class="dropdown py-2 " *ngFor="let element of elements">
                <button class="btn border-0 text-white btn-sm" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                    <span class="col-7 text-start fw-medium">
                        <i class="{{element.icon_Class}} me-2"></i> {{element.menu_label}}
                    </span>
                    <span class="col-5 text-end fw-medium">
                        <i class="bi bi-chevron-down"></i>
                    </span>
                </button>

                <ul class="dropdown-menu border-0">
                    <li *ngFor="let menu of element.sub_menu">
                        <a class="dropdown-item small text-white py-2" [routerLink]="menu.menu_link" (click)="toggler()">
                            <i [class]="menu.menu_icon"></i> {{menu.menu_label}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- </div> -->